<div id="homepage" class="m-8">
  <div class="flex gap-4">
    <a routerLink="/orders/create"class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
      <div
        class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm transition hover:shadow-lg sm:p-6"
      >
        <h2 class="mt-0.5 text-lg font-medium text-gray-900">
          Create an order
        </h2>
        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
        &rarr;
      </span>
      </div>
    </a>
    <a routerLink="/orders"class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
      <div
        class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm transition hover:shadow-lg sm:p-6"
      >
        <h2 class="mt-0.5 text-lg font-medium text-gray-900">
          See all orders
        </h2>
        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
        &rarr;
      </span>
      </div>
    </a>
    <a routerLink="/customers/create"class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
      <div
        class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm transition hover:shadow-lg sm:p-6"
      >
        <h2 class="mt-0.5 text-lg font-medium text-gray-900">
          Add a new customer
        </h2>
        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
        &rarr;
      </span>
      </div>
    </a>
    <a routerLink="/customers"class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
      <div
        class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm transition hover:shadow-lg sm:p-6"
      >
        <h2 class="mt-0.5 text-lg font-medium text-gray-900">
          See all customers
        </h2>
        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
        &rarr;
      </span>
      </div>
    </a>
  </div>
</div>
