<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
  <thead>
  <tr>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Id</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">First name</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Last name</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Email</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Phone</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Company</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Address</th>
    <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">State</th>
  </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    @if(customer$ | async; as customer){
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">{{ customer.id }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.firstName }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.lastName }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.email }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.phoneNumber }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.companyName }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ customer.address }}<br>
          {{ customer.zipCode }} {{ customer.city }}<br>
          {{ customer.country }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ customer.state }}</td>
        <td class="whitespace-nowrap px-4 py-2 text-center">
          <a class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700" routerLink="edit">Edit profile</a>
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-center">
          <a class="inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-red-700 hover:cursor-pointer" (click)="onDeleteCustomer()">Delete</a>
        </td>
      </tr>
    } @else {
      <tr class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">There is no customer.</tr>
    }
  </tbody>
</table>
