<div class="order-list">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead>
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Id</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Type of service</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Nb days</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Comment</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Client Id</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Tva</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total Exclude Tva</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">State</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @if (order$ | async; as order) {
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">{{ order.id }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.serviceType }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.nbDays }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.comment }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.clientId.id }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.tva }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.totalExcludeTax }} </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ order.state }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-center">
            <a class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700" routerLink="edit">Edit order</a>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
            <a class="inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-red-700 hover:cursor-pointer" (click)="onDeleteOrder()">Delete</a>
          </td>
        </tr>
      } @else {
        <tr>There is no order.</tr>
      }
    </tbody>
  </table>
</div>
